<nav
  class="navbar navbar-expand-lg fixed-top navbar-dark custom-navbar py-3"
  [ngClass]="{ 'navbar-scrolled': isScrolled || !isHomePage }"
>
  <div class="container">
    <a class="navbar-brand fw-bold text-uppercase" routerLink="/"
      >Tulvan Trasporti</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
            >Pagina iniziale</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active-link"
            (click)="closeMenu()"
            >Chi Siamo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/work-with-us"
            routerLinkActive="active-link"
            (click)="closeMenu()"
            >Lavora con Noi</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
