.custom-navbar {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-scrolled {
  background-color: #1f1f1f !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-brand {
  color: white !important;
}

.navbar .nav-link.active-link {
  color: #007bff !important;
}
